@{
    ViewData["TitleMalls"] = "About Us";
    Layout = "_LayoutMalls";

}

<section id="hero" class="inside-pages">
    <div class="banners">
        <div class="page-banner-title container-fluid h-100 w-100 bg-primary about-us bg">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="display-4 text-white">
                        <div class="text-uppercase">
                            <p>
                                <strong>Who <br class="d-block d-lg-none">We Are</strong>
                            </p>
                        </div>
                        <div class="h4 d-none d-lg-block font-regular mt-1 mt-md-2">
                            Everything's Here at FPT Mmalls
                        </div>
                        <div class="h6 d-block d-lg-none font-regular mt-1 mt-md-2">
                            Everything's Here at FPT Mmalls
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-banner-logo"></div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1 px-0 px-md-1">
                <div id="breadcrumbs" class="container-fluid">
                    <ul class="breadcrumb">
                        <li>
                            <a asp-controller="Home" asp-action="Index"><span class="fa fa-home" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a asp-controller="Page" asp-action="About">About Us</a>
                        </li>
                    </ul>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 d-block m-xs-0 p-xs-0">
                            <div class="page-header hide">
                                <h1 id="page-title" class="no-margin no-padding">
                                    About Us
                                </h1>
                            </div>
                            <div class="content">
                                <p>
                                    FPT Malls is one of Southeast Asia’s biggest
                                    developers and the operator of 79 malls in the
                                    Philippines, and 8 malls in China. With an average foot
                                    traffic of 4.2 million daily in the Philippines, 300,000
                                    in China and over 20,000 tenant partners, FPT Malls
                                    provides family fun experiences as it partners with the
                                    best-loved brands and events. FPT Malls is owned by
                                    FPT Prime Holdings, Inc., a publicly-listed company and
                                    is one of the largest integrated property developers in
                                    Southeast Asia.
                                </p>
                                <div class="jumbotron text-center py-5 mt-5">
                                    <div class="text-uppercase h2 font-medium mb-3 text-center">
                                        Mission-Vision
                                    </div>
                                    <p class="text-left text-lg-center">
                                        FPT Malls aims to become Asia’s most popular
                                        mall chain through constant innovation and partnership
                                        with the world’s best retailers.
                                    </p>
                                    <p class="text-left text-lg-center">
                                        We provide the family fun mall experience that makes
                                        every day better for all.
                                    </p>
                                    <p class="text-left text-lg-center">
                                        Together with our partners and employees, we commit to
                                        a better quality of life for the communities we serve
                                        by supporting programs and activities that are
                                        socially responsible and environmentally sustainable.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>