@{
    ViewData["TitleMalls"] = "Contact Us";
    Layout = "_LayoutMalls";

}

<section id="hero" class="inside-pages">
    <div class="banners">
        <div class="page-banner-title container-fluid h-100 w-100 bg-primary contact-us bg">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="display-4 text-white">
                        <div class="text-uppercase">
                            <p>
                                <strong>Connect</strong>&nbsp;<br class="d-block d-lg-none">with Us
                            </p>
                        </div>
                        <div class="h4 d-none d-lg-block font-regular mt-1 mt-md-2">
                            Reaching out in more ways than one.
                        </div>
                        <div class="h6 d-block d-lg-none font-regular mt-1 mt-md-2">
                            Reaching out in more ways than one.
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-banner-logo"></div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1 px-0 px-md-1">
                <div id="breadcrumbs" class="container-fluid">
                    <ul class="breadcrumb">
                        <li>
                            <a asp-controller="Home" asp-action="Index"><span class="fa fa-home" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a asp-controller="Page" asp-action="Contact">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 d-block m-xs-0 p-xs-0">
                            <div class="page-header hide">
                                <h1 id="page-title" class="no-margin no-padding">
                                    Contact Us
                                </h1>
                            </div>
                            <div class="content">
                                <p>
                                    We are happy to answer any questions and we will respond
                                    as soon as we can. If you wish to be updated with the
                                    latest promos, new shops and dining establishments,
                                    events and happenings in our malls, do join our online
                                    community.
                                </p>
                                <p>&nbsp;</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.1346442436397!2d105.78093341464574!3d21.027297893204764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4d3a5c327f%3A0xf557678e4efc494e!2zOCBUw7RuIFRo4bqldCBUaHV54bq_dCwgTeG7uSDEkMOsbmgsIE5hbSBU4burIExpw6ptLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1678961532641!5m2!1svi!2s" width="100%" height="100%" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <ul class="list-group h6 font-medium">
                                                <li class="list-group-item border-top-0 border-left-0 border-right-0">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <img class="img-responsive" src="~/FPTImage/contact-1.jpg" alt="" align="middle" border="0">
                                                        </div>
                                                        <div class="col-10">
                                                            The main lobby, Detech
                                                            Building, 8 , Ton That Thuyet, My Dinh 2, Ha Noi
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item border-top-0 border-left-0 border-right-0">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <img class="img-responsive" src="~/FPTImage/contact-3.jpg" alt="" border="0">
                                                        </div>
                                                        <div class="col-10">
                                                            <a class="text-black d-block py-2" href="mailto:customercare@smsupermalls.com" target="_blank">
                                                                customer@fptmalls.com
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item border-top-0 border-left-0 border-right-0">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <img class="img-responsive" src="~/FPTImage/contact-2.jpg" alt="" border="0">
                                                        </div>
                                                        <div class="col-10 py-2">
                                                            (+84) 0128-761-111 • (+84) 0128-761-111
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item border-top-0 border-left-0 border-right-0">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <img class="img-responsive" src="~/FPTImage/contact-4.jpg" alt="contacticons11.jpg" border="0">
                                                        </div>
                                                        <div class="col-10 py-2">
                                                            (+84) 0128-761-111
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>