@{
    ViewData["TitleMalls"] = "Disclaimer";
    Layout = "_LayoutMalls";

}

<section id="hero" class="inside-pages">
    <div class="banners">
        <div class="page-banner-title container-fluid h-100 w-100 bg-primary disclaimer bg">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="display-4 text-white">
                        <div class="text-uppercase">
                            <p><strong>Disclaimer</strong></p>
                        </div>
                        <div class="h4 d-none d-lg-block font-regular mt-1 mt-md-2">
                            Important information about this website
                        </div>
                        <div class="h6 d-block d-lg-none font-regular mt-1 mt-md-2">
                            Important information about this website
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-banner-logo"></div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1 px-0 px-md-1">
                <div id="breadcrumbs" class="container-fluid">
                    <ul class="breadcrumb">
                        <li>
                            <a asp-controller="Home" asp-action="Index"><span class="fa fa-home"></span></a>
                        </li>
                        <li>
                            <a asp-controller="Page" asp-action="Disclaimer">Disclaimer</a>
                        </li>
                    </ul>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 d-block m-xs-0 p-xs-0">
                            <div class="page-header hide">
                                <h1 id="page-title" class="no-margin no-padding">
                                    Disclaimer
                                </h1>
                            </div>
                            <div class="content">
                                <p>
                                    FPT Malls assumes no responsibility for errors or
                                    omissions in the contents of other websites other than
                                    www.smsupermalls.com
                                </p>
                                <p>
                                    <strong>
                                        THIS WEBSITE IS PROVIDED "AS IS" WITHOUT WARRANTY OF
                                        ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT
                                        LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY,
                                        FITNESS FOR A PARTICULAR PURPOSE, OR
                                        NON-INFRINGEMENT.
                                    </strong>
                                </p>
                                <p>
                                    FPT Malls further does not warrant the accuracy or
                                    completeness of the information, text, graphics,links or
                                    other items contained within this website. FPT Malls
                                    shall not be liable for any special, indirect,
                                    incidental, or consequential damages, including without
                                    limitation, lost revenues or lost profits, which may
                                    result from the use of this website. The information on
                                    this server, and this website is subject to change
                                    without notice and does not represent a commitment on
                                    the part of "FPT Malls" in the future.
                                </p>
                                <p><strong>Copyright Notice</strong></p>
                                <p>
                                    All trademarks mentioned herein belong to their
                                    respective owners. Unless identified with the
                                    designation "COPY FREE", the contents of this website
                                    are copyrighted their owners and/or FPT Malls. SM
                                    Supermalls hereby authorizes you to copy documents
                                    published by FPT Malls on the World Wide Web for
                                    non-commercial use within your organization only. In
                                    consideration of this authorization, you agree that any
                                    copy of these documents you make shall retain all
                                    copyright and other proprietary notices contained
                                    herein. You ay not otherwise copy or transmit the
                                    contents of this website either electronically or in
                                    hard copies. You may not alter the content of this
                                    website in any manner. If you are interested in using
                                    the contents of this website in any manner except as
                                    described above, please contact Customer Service or SM
                                    Supermalls for information on licensing. Individual
                                    documents published by FPT Malls on the World Wide
                                    Web may contain other proprietary notices and copyright
                                    information specific to that individual document.
                                    Nothing contained herein shall be construed as
                                    conferring by implication, estoppel or otherwise any
                                    license or right under any patent, trademark or other
                                    property right of FPT Malls or any third party.
                                    Except as expressly provided above nothing contained
                                    herein shall be construed as conferring any license or
                                    right under any copyright or other property right of SM
                                    Supermalls or any third party. Note that any product,
                                    process, or technology in this document may be the
                                    subject of other intellectual property rights reserved
                                    by FPT Malls and may not be licensed here under.
                                </p>
                                <p>
                                    <strong>
                                        © 2012 FPT Malls, All rights
                                        reserved.
                                    </strong>
                                </p>
                                <p>
                                    Unauthorized duplication or publication of any materials
                                    from this Site is expressly prohibited.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>