@{
    ViewData["TitleMalls"] = "My Fpt";
    Layout = "_LayoutMalls";
}

<link href="~/css/myfpt/fptcorporation.css" rel="stylesheet" />
<link href="~/css/myfpt/fptcorporation2.css" rel="stylesheet" />

<section id="hero" class="inside-pages">
    <div class="banners">
        <div class="page-banner-title container-fluid h-100 w-100 bg-primary about-us bg">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="display-4 text-white">
                        <div class="text-uppercase">
                            <p>
                                <strong>FPT <br class="d-block d-lg-none">Ecosystem</strong>
                            </p>
                        </div>
                        <div class="h4 d-none d-lg-block font-regular mt-1 mt-md-2">
                            Overall 4 core business blocks, the cohesive strength of 10 member companies
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-banner-logo"></div>
        </div>
    </div>
</section>

<div class="component fpt-container container-grid-10 m-t-50-lg m-t-90 p-b-0-mb">
    <div class="component-content">

        <div class="component our-business">
            <div class="component-content">
                <div class="block-our-business">
                    <div class="items">

                        <div class="item">
                            <div class="inner-item">
                                <div class="our-business-image">
                                    <div title="our-business">
                                        <picture class="lazyload">
                                            <img src="~/fptimage/myfpt/congnghe_home.jpg" alt="" />
                                        </picture>

                                    </div>
                                </div>
                                <div class="our-business-info">
                                    <div class="our-business-info-inner d-flex flex-column justify-content-between">
                                        <div>
                                            <h3 class="our-business-item-title">Technology</h3>
                                            <div class="our-business-item-desc strim-line-6">
                                                FPT is an important strategic partner in consulting, training and implementation
                                                digital transformation of leading corporations and organizations in the world and in
                                                Vietnam in many fields.
                                            </div>
                                        </div>
                                        <a href="https://fpt.com.vn/vi/he-sinh-thai-fpt/cong-nghe" target="_blank" class="see-more-text">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="inner-item">
                                <div class="our-business-image">
                                    <div title="our-business">
                                            <img src="~/fptimage/myfpt/vienthong_home.png" alt="" />
                                        </picture>

                                    </div>
                                </div>
                                <div class="our-business-info">
                                    <div class="our-business-info-inner d-flex flex-column justify-content-between">
                                        <div>
                                            <h3 class="our-business-item-title">Telecommunication</h3>
                                            <div class="our-business-item-desc strim-line-6">
                                                We are constantly investing, implementing and integrating more and more
                                                value-added services on the same Internet connection and creation
                                                digital communication ecosystem.
                                            </div>
                                        </div>
                                        <a href="https://fpt.com.vn/vi/he-sinh-thai-fpt/vien-thong" target="_blank" class="see-more-text">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="inner-item">
                                <div class="our-business-image">
                                    <div title="our-business">
                                        <picture class="lazyload">
                                            <img src="~/fptimage/myfpt/giaoduc_home.png" alt="" />
                                        </picture>

                                    </div>
                                </div>
                                <div class="our-business-info">
                                    <div class="our-business-info-inner d-flex flex-column justify-content-between">
                                        <div>
                                            <h3 class="our-business-item-title">Education</h3>
                                            <div class="our-business-item-desc strim-line-6">
                                                As an internationally influential education brand, FPT Education
                                                has fully expanded all levels of education, contributing to providing quality human resources
                                                high quality for the market.
                                            </div>
                                        </div>
                                        <a href="https://fpt.com.vn/vi/he-sinh-thai-fpt/giao-duc" target="_blank" class="see-more-text">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="inner-item">
                                <div class="our-business-image">
                                    <div title="our-business">
                                        <picture class="lazyload">
                                            <img src="~/fptimage/myfpt/yte.jpg" alt="" />
                                        </picture>

                                    </div>
                                </div>
                                <div class="our-business-info">
                                    <div class="our-business-info-inner d-flex flex-column justify-content-between">
                                        <div>
                                            <h3 class="our-business-item-title">Medical</h3>
                                            <div class="our-business-item-desc strim-line-6">
                                                10 member companies with typical business fields as elements
                                                important component of the FPT ecosystem, affirming the overall strength of the company
                                                FPT.
                                            </div>
                                        </div>
                                        <a href="https://fpt.com.vn/vi/he-sinh-thai-fpt/cong-ty-thanh-vien" target="_blank" class="see-more-text"> Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>