@{
    ViewData["TitleMalls"] = "Privacy Pilicy ";
    Layout = "_LayoutMalls";

}

<section id="hero" class="inside-pages">

    <div class="banners">
        <div class="page-banner-title container-fluid h-100 w-100 bg-primary privacy-policy bg">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="display-4 text-white">
                        <div class="text-uppercase">
                            <p>Privacy<br class="d-block d-lg-none" /> <strong>Policy</strong></p>
                        </div>
                        <div class="h4 d-none d-lg-block font-regular  mt-1 mt-md-2">Welcome to the FPT Malls Website</div>
                        <div class="h6 d-block d-lg-none font-regular  mt-1 mt-md-2">Welcome to the FPT Malls Website</div>
                    </div>
                </div>
            </div>
            <div class="page-banner-logo"></div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1 px-0 px-md-1">
                <div id="breadcrumbs" class="container-fluid">
                    <ul class="breadcrumb">
                        <li><a asp-controller="Home" asp-action="Index"><span class="fa fa-home"></span></a> </li>
                        <li><a asp-controller="Page" asp-action="Privacy">Privacy Policy</a> </li>
                    </ul>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 d-block m-xs-0 p-xs-0">
                            <div class="page-header hide">
                                <h1 id="page-title" class="no-margin no-padding">Privacy Policy</h1>
                            </div>
                            <div class="content">
                                <h2><strong>FPT Malls Privacy Policy</strong></h2>
                                <p>&nbsp;</p>
                                <p><strong>1. Privacy Statement</strong></p>
                                <p>
                                    Shopping Center Management Corporation (SCMC)., including its parent company, subsidiaries,
                                    affiliates, and related companies, collectively, (&ldquo;FPT Malls&rdquo;) collects, processes and
                                    stores personal data about you when you avail of its products and services, including its websites
                                    and mobile applications, participate in their events, apply for a job with them, or enter into any
                                    contract with them (&ldquo;Services&rdquo;), provided that you have given your express consent.
                                </p>
                                <p>
                                    This privacy policy has been prepared to better serve any person who avails of the Services of
                                    FPT Malls to inform him/her of how their personal data is collected, used and secured by the FPT
                                    Malls.&nbsp;
                                </p>
                                <p>
                                    Please read our privacy policy carefully to get a clear understanding of how FPT Malls collects,
                                    uses, protects or otherwise handles your personal data in accordance with Republic Act No. 10173,
                                    or the Data Privacy Act of 2012, and its Implementing Rules and Regulations (collectively, the
                                    &ldquo;Data Privacy Act&rdquo;).
                                </p>
                                <p><strong>2. Collection of Personal Data</strong></p>
                                <p>
                                    FPT Malls collects information you provide directly to it, such as when you attend or participate
                                    in any of its events, respond to a survey, register, create or modify your accounts in any of its
                                    websites and/or mobile applications, contact customer support, apply for a job with them, enter
                                    into any contract with them or otherwise communicate or interact with FPT Malls (the
                                    &ldquo;Event&rdquo;).
                                </p>
                                <p><strong>3. Use and Processing of Personal Data</strong></p>
                                <p>
                                    FPT Malls may use and process the personal data collected about you to allow you to avail of the
                                    Services and/or to participate in the Event, other similar events to be provided by or held by the
                                    FPT Malls, including the processing of your application, publication of your name should you win
                                    the same, and other discounts, promos, sales, advertisements, marketing activities and commercial
                                    communications of the FPT Malls, including direct marketing. At all times, your personal data
                                    shall not be used or processed for any purpose that is contrary to law, morals, or public policy.
                                </p>
                                <p><strong>4. Sharing of Personal Data&nbsp;</strong></p>
                                <p>
                                    FPT Malls may share personal data between and among the entities comprising the same to enable
                                    them to provide you personalized Services. FPT Malls may also share personal data with vendors,
                                    consultants, marketing partners, and other service providers who need access to such information
                                    to carry out work on behalf of FPT Malls. If and when necessary, a data sharing agreement shall
                                    cover any sharing of data between and among the FPT Malls and/or its vendors, consultants,
                                    marketing partners, and other service providers. FPT Malls may also share information in
                                    accordance with any order from any relevant government agency as provided by law.
                                </p>
                                <p><strong>5. Storage and Protection of Personal Data</strong></p>
                                <p>
                                    FPT Malls has instituted policies and procedures which intend to protect personal data which it
                                    has collected and continues to collect. These include securing any document containing personal
                                    data, requiring the execution of non-disclosure agreements by its employees, consultants, vendors,
                                    suppliers and contractors, among others.
                                </p>
                                <p>
                                    FPT Malls&rsquo; websites are scanned on a regular basis for security holes and known
                                    vulnerabilities in order to make your visit to said website as safe as possible. Your personal
                                    data is contained behind secured networks and is only accessible by a limited number of persons
                                    who have special access rights to such systems, and are required to keep the personal data
                                    confidential. In addition, all sensitive/credit information you supply is encrypted. FPT Malls
                                    implements a variety of security measures when a user places an order, enters, submits, or
                                    accesses your information to maintain the safety of your personal information. All transactions
                                    are processed through a gateway provider and are not stored or processed on our servers.
                                </p>
                                <p>
                                    While there will always be a risk of unauthorized disclosure of personal data, FPT Malls believes
                                    that the foregoing safeguards are sufficient to prevent the occurrence of such unauthorized
                                    disclosure and is committed to updating and improving such safeguards in order to protect your
                                    personal data in compliance with the Data Privacy Act.&nbsp;
                                </p>
                                <p><strong>6. Use of Cookies&nbsp;</strong></p>
                                <p>
                                    Please note that in visiting FPT Malls&rsquo; websites, cookies are utilized. Cookies are small
                                    files that a site or its service provider transfers to your computer's hard drive through your Web
                                    browser (if you allow) that enables the site's or service provider's systems to recognize your
                                    browser and capture and remember certain information. For instance, FPT Malls uses cookies to help
                                    us understand your preferences based on previous or current site activity, which enables us to
                                    provide you with improved Services. FPT Malls also uses cookies to help it compile aggregate data
                                    about site traffic and site interaction so that FPT Malls can offer better site experiences and
                                    tools in the future.
                                </p>
                                <p>
                                    You can choose to have your computer warn you each time a cookie is being sent, or you can choose
                                    to turn off all cookies. You do this through your browser settings. Since browser is a little
                                    different, look at your browser's Help Menu to learn the correct way to modify your cookies. If
                                    you turn cookies off, some features will be disabled. Some of the features that make your site
                                    experience more efficient and may not function properly.
                                </p>
                                <p><strong>7. User Responsibility</strong></p>
                                <p>
                                    While we employ all necessary precautions to safeguard your information, we cannot warrant 100%
                                    cyber security.&nbsp; FPT Malls encourages you to use the latest version of web browsers. The most
                                    important reason to keep your browser up-to-date is for your own safety and security. Updated web
                                    browsers are normally equipped with security features that provide anti-phishing protection,
                                    improved parental controls and tools to prevent malware and other privacy threats.
                                </p>
                                <p>
                                    Our website may also contain hyperlinks to third-party websites that are not owned or controlled
                                    by FPT Malls. The links to&nbsp;third-party websites&nbsp;are provided for your convenience and
                                    information only.&nbsp;FPT Malls advises you to read and study the privacy policy of third-party
                                    websites to determine how they handle and protect information they collect from you.
                                </p>
                                <p><strong>8. Your Rights under the Data Privacy Act</strong></p>
                                <p>As a data subject, you have the following rights under the Data Privacy Act:</p>
                                <ol style="list-style-type: lower-alpha;">
                                    <li style="font-weight: 400;">
                                        <span style="font-weight: 400;">
                                            You have the right to be informed of
                                            the collection and processing of your personal data, the purpose for which they will be
                                            processed, among others. Thus, you are required to read this privacy policy before giving your
                                            consent to the collection and processing of your personal data. If you have questions, please
                                            do not hesitate to ask us questions or clarifications and you may also contact our Data
                                            Protection Officer;<br /><br />
                                        </span>
                                    </li>
                                    <li style="font-weight: 400;">
                                        <span style="font-weight: 400;">
                                            You have the right to object to the
                                            processing of your personal data. You will be given an option or opportunity to withhold your
                                            consent to the processing of your personal data whenever the FPT Malls communicates with you
                                            or by notifying our Data Protection Officer;<br /><br />
                                        </span>
                                    </li>
                                    <li style="font-weight: 400;">
                                        <span style="font-weight: 400;">
                                            You have the right to have
                                            reasonable access to your personal data by notifying our Data Protection
                                            Officer;<br /><br />
                                        </span>
                                    </li>
                                    <li style="font-weight: 400;">
                                        <span style="font-weight: 400;">
                                            You have the right to rectify or
                                            correct any inaccuracy or error in your personal data by submitting your request for
                                            rectification or correction to our Data Protection Officer;<br /><br />
                                        </span>
                                    </li>
                                    <li style="font-weight: 400;">
                                        <span style="font-weight: 400;">
                                            You have the right to suspend,
                                            withdraw or order the blocking, removal or destruction of your personal data in accordance
                                            with the requirements of the Data Privacy Act. Please notify our Data Protection Officer if
                                            you wish to exercise this right;<br /><br />
                                        </span>
                                    </li>
                                    <li style="font-weight: 400;">
                                        <span style="font-weight: 400;">
                                            You have the right to obtain a copy
                                            of your data in an electronic or structured format if the same is processed by electronic
                                            means and in a structured and commonly used format by submitting your request to our Data
                                            Protection Officer; and&nbsp;<br /><br />
                                        </span>
                                    </li>
                                    <li style="font-weight: 400;">
                                        You have the right to be indemnified if you incur damages due to
                                        inaccurate, incomplete, outdated, false, unlawfully obtained or unauthorized use of your
                                        personal data.&nbsp;
                                    </li>
                                </ol>
                                <p><strong>9. Changes to the Privacy Policy</strong></p>
                                <p>
                                    FPT Malls may change this Privacy Policy from time to time. If FPT Malls makes any significant
                                    change in the collection, use, and protection of personal data, FPT Malls will provide you notice
                                    through the Services or by some other means, such as email. It is encouraged that you periodically
                                    review the Privacy Policy in the FPT Malls website for the latest information.
                                </p>
                                <p><strong>10. Contacting Us&nbsp;</strong></p>
                                <p>
                                    If there are any questions regarding this privacy policy, you may contact our Data Protection
                                    Officer with the following contact details:
                                </p>
                                <p style="padding-left: 60px;">
                                    <strong>Title/Designation:</strong> Data Protection
                                    Officer<br /><strong>Postal Address:</strong> No. 8, Ton That Thuyet, My Dinh 2, Nam Tu Liem, Ha Noi,
                                    Viet Nam<br /><strong>Telephone Number:</strong> (02) 8 831-7100<br /><strong>
                                        Email
                                    </strong><strong>Address</strong><strong>:</strong>&nbsp;<a href="#">scmc.dpo@fptmalls.com</a>
                                </p>
                                <p><strong>11. Consent&nbsp;&nbsp;</strong></p>
                                <p>
                                    We will secure your consent prior to the collection and processing of your personal data, or as
                                    soon as practicable and reasonable in order to ensure continuation of the Services. Before you
                                    give your consent, you will be provided with an opportunity to read and review this Privacy
                                    Policy. If you are below eighteen (18) years old, FPT Malls requires you to secure consent from
                                    your parents or legal guardians in order to use any of the Services. FPT Malls does not
                                    specifically market to persons under eighteen (18) years old.&nbsp;
                                </p>
                                <p>
                                    If you consent to the collection and processing of your personal data in accordance with the
                                    Privacy Policy, such consent shall be valid for the purpose for which they are collected or ten
                                    (10) years, whichever is shorter, or as may be required by applicable law or when necessary as
                                    provided by the Data Privacy Act, or unless you have expressly withdrawn such consent.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>